.container {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

.newUsedContainer {
    color: black;
    display: flex;
}

.usedNew {
    margin-left: 10px;
    color: #007185; 
    text-decoration: underline;
}